<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <form
        #userForm="ngForm"
        class="container"
        method="post"
        action=""
        (ngSubmit)="addFood(userForm.value)"
      >
        <div>
          <h1
            class="text-center text-warning text-uppercase"
            style="margin-left: 5px"
          >
            Add Food Items
          </h1>
        </div>

        <div>
          <label for=""
            >Enter Food Id <fa-icon [icon]="icons.doc"></fa-icon>
          </label>
          <input
            type="text"
            class="form-control my-3"
            name="foodId"
            ngModel
            id="foodId"
          />
        </div>
        <div>
          <label for=""
            >Enter Food Name
            <fa-icon [icon]="icons.name"></fa-icon>
          </label>
          <input
            type="text"
            class="form-control my-3"
            name="foodName"
            ngModel
            id="foodName"
          />
        </div>
        <div>
          <label for=""
            >Enter Food Description <fa-icon [icon]="icons.desc"></fa-icon
          ></label>
          <input
            type="text"
            class="form-control my-3"
            name="foodDesc"
            ngModel
            id="foodDesc"
          />
        </div>
        <div>
          <label for=""
            >Enter Food Price <fa-icon [icon]="icons.price"></fa-icon
          ></label>
          <input
            type="text"
            class="form-control my-3"
            name="foodPrice"
            id="foodPrice"
            ngModel
          />
        </div>
        <div>
          <label for=""
            >Enter Food Type&nbsp; <fa-icon [icon]="icons.type[1]"></fa-icon> |
            <fa-icon [icon]="icons.type[0]"></fa-icon>
          </label>
          <input
            type="text"
            class="form-control my-3"
            name="foodType"
            id="foodType"
            ngModel
          />
        </div>
        <div>
          <label for=""
            >Enter Food Image Url&nbsp;<fa-icon
              [icon]="icons.imageurl"
            ></fa-icon
          ></label>
          <input
            type="text"
            class="form-control my-3"
            name="foodImage"
            id="foodImage"
            ngModel
          />
        </div>
        <div class="text-center">
          <input
            type="submit"
            name="Submit"
            value="INSERT"
            class="btn btn-danger"
          />
        </div>
      </form>
    </div>
    <table class="table table-striped">
      <thead>
        <tr class="text-center text-uppercase">
          <th>Food Name</th>
          <th>Food Desc</th>
          <th>Food Price</th>
          <th>Food Type</th>
          <th>Food Image</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let data of datas">
          <td>{{ data.foodName }}</td>
          <td>{{ data.foodDesc }}</td>
          <td>{{ data.foodPrice }}</td>
          <td>{{ data.foodType }}</td>
          <img [src]="data.foodImage" width="100" height="100" />
          <td>
            <button
              (click)="onUpdate(data, data.foodId)"
              class="btn btn-success text-uppercase my-2"
            >
              update
            </button>
            <br />
            <button
              (click)="onDelete(data.foodId)"
              class="btn btn-danger text-uppercase"
            >
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html> -->

<!-- <div style="margin-top: 12rem"> -->
<!-- <form action=""> -->
<!-- <table class="table table-striped table-hover"> -->
<!-- <thead> -->
<!-- <th>Email</th> -->
<!-- <th>First Name</th> -->
<!-- <th>Last Name</th> -->
<!-- <th>Password</th> -->
<!-- </thead> -->
<!-- <tbody> -->
<!-- <tr *ngFor="let lists of custs">
          <td>{{ lists.email }}</td>
          <td>{{ lists.custFirstName }}</td>
          <img
            [src]="lists.custLastName"
            alt="..."
            width="100"
            height="100"
          />
          <td>{{ lists.custLastName }}</td> 
          <td>{{ lists.password }}</td>
          <td>
            <button
              type="submit"
              class="btn btn-danger"
              (click)="deleteCust(lists.email)"
            >
              Delete
            </button>
          </td>
        </tr> -->
<!-- </tbody> -->
<!-- </table> -->
<!-- </form> -->
<!-- </div> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css"
      rel="stylesheet"
    />
    <link href="admindash.component.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3">Admin Dashboard</a>
      <!-- Sidebar Toggle-->
      <button
        class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
        id="sidebarToggle"
        href="#!"
      >
        <i class="fas fa-bars"></i>
      </button>
      <!-- Navbar Search-->
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">Core</div>
              <a class="nav-link">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                Dashboard
              </a>
              <div class="sb-sidenav-menu-heading">Interface</div>
              <a
                href="/foods"
                class="nav-link collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapseLayouts"
                aria-expanded="false"
                aria-controls="collapseLayouts"
              >
                <div class="sb-nav-link-icon">
                  <i class="fas fa-columns"></i>
                </div>
                List of Food
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="collapse"
                id="collapseLayouts"
                aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="layout-static.html"
                    >Static Navigation</a
                  >
                  <a class="nav-link" href="layout-sidenav-light.html"
                    >Light Sidenav</a
                  >
                </nav>
              </div>
              <a
                class="nav-link collapsed"
                href="/addfood"
                data-bs-toggle="collapse"
                data-bs-target="#collapsePages"
                aria-expanded="false"
                aria-controls="collapsePages"
              >
                <div class="sb-nav-link-icon">
                  <i class="fas fa-book-open"></i>
                </div>
                Add Food
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <div
                class="collapse"
                id="collapsePages"
                aria-labelledby="headingTwo"
                data-bs-parent="#sidenavAccordion"
              >
                <nav
                  class="sb-sidenav-menu-nested nav accordion"
                  id="sidenavAccordionPages"
                >
                  <a
                    class="nav-link collapsed"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#pagesCollapseAuth"
                    aria-expanded="false"
                    aria-controls="pagesCollapseAuth"
                  >
                    Authentication
                    <div class="sb-sidenav-collapse-arrow">
                      <i class="fas fa-angle-down"></i>
                    </div>
                  </a>
                  <div
                    class="collapse"
                    id="pagesCollapseAuth"
                    aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordionPages"
                  >
                    <nav class="sb-sidenav-menu-nested nav">
                      <a class="nav-link" href="login.html">Login</a>
                      <a class="nav-link" href="register.html">Register</a>
                      <a class="nav-link" href="password.html"
                        >Forgot Password</a
                      >
                    </nav>
                  </div>
                  <a
                    class="nav-link collapsed"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#pagesCollapseError"
                    aria-expanded="false"
                    aria-controls="pagesCollapseError"
                  >
                    Error
                    <div class="sb-sidenav-collapse-arrow">
                      <i class="fas fa-angle-down"></i>
                    </div>
                  </a>
                  <div
                    class="collapse"
                    id="pagesCollapseError"
                    aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordionPages"
                  ></div>
                </nav>
              </div>
              <div class="sb-sidenav-menu-heading">Admin Action</div>
              <a (click)="logout(getEmail)" class="nav-link">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-chart-area"></i>
                </div>
                Logout
              </a>
            </div>
          </div>
          <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div style="margin-left: 24rem" class="text-muted text-center">
                Copyright &copy; Your Website 2023
              </div>
              <!-- <div>
                <a>Privacy Policy</a>
                &middot;
                <a>Terms & Conditions</a>
              </div> -->
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/scripts.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/datatables-simple-demo.js"></script>
  </body>
</html>
-->
